@page
@model FigurineCuisine.Pages.ProductsModel

@{
    ViewData["Title"] = "Products";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Products</h1>
<form>
    <p>
        <select asp-for="FigurineCategory" asp-items="Model.Category" onchange="this.form.submit()">
            <option value="">All</option>
        </select>
        <p></p>
        Name: <input type="text" asp-for="SearchString"/>
        <input type="submit" value="Search" />
    </p>
</form>
<div class="card-columns">
    @foreach (var product in Model.Figurine)
    {
        <div class="card">
            <div class="card-img" style="background-image: url('@product.Image');">
            </div>
            <div class="card-body" style="display: flex; justify-content: center; align-items: center;">
                <h5 class="card-title">@product.Name</h5>
            </div>
            <div class="card-footer">
                <small class="text-muted" style="display: flex; justify-content: center; align-items: center;">
                    <button>
                        Add to cart
                    </button>
                </small>
            </div>
        </div>
    }
</div>